@model StockItem
<head runat="server"></head>
<form asp-action="AddItem" method="POST">
<label asp-for="Title">Scrape Yahoo!</label>
<input asp-for="Title">
<button type="submit">Selenium</button>
</form>

