@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

</address>

<address>
    <strong>Email:</strong> <a href="mailto:mlpichardo1@intracitygeeks.com">mlpichardo1@intracitygeeks.com</a><br />
</address>
